<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYTO2SHtEk_5KHY1nBiPdMYEpRkmCLSqU</string>
	<key>GCM_SENDER_ID</key>
	<string>668548871062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginpage</string>
	<key>PROJECT_ID</key>
	<string>roadtrippers-825c4</string>
	<key>STORAGE_BUCKET</key>
	<string>roadtrippers-825c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668548871062:ios:117be7d19730d77861a3b7</string>
</dict>
</plist>